.ads1{
    display:inline;
    height: 13vh;
    width: 100%;
}
.item1{
    max-width: 100%;
    display: inline-block;
    height: auto;
}
.item2{
    max-width: 100%;
    display: inline-block;
    height: auto;
}
#banners {
position: relative;
display: inline-block;
top: 8vh;        
width: 55%;
right: 3%;
  }
  .item3 {
    max-width: 100%;
    display: inline-block;
    height: auto;
}