.ads1{
    display:inline;
    height: 13vh;
    width: 100%;
}
.item1{
    max-width: 100%;
    display: inline-block;
    height: auto;
}
.item2{
    max-width: 100%;
    display: inline-block;
    height: auto;
}
#banners {
position: relative;
margin-left: 50%;
top: 3vh;        
width: 50%;
grid-auto-flow: dense;
  }
  .item3 {
    max-width: 100%;
    display: inline-block;
    height: auto;
}