.newmain1{
    width: 90%;
    position: relative;
    top: 5vh;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content:space-evenly;
    left: 5%;
}
.new{
    font-family: "Narkiss Block Regular";   
    position: relative;
    height: 100%;
    width: 100%;
    text-align: right;
    display: inline-block;
}
.newphoto{
position: relative;
height: 100%;
width: 100%;
grid-column: 1/2;
}
.sidenew1{
    position: relative;
    background-color: rgb(255, 0, 0);
    display: flex;
    border: 10px solid #ff0000;
    height: 88%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    flex-direction: row-reverse;
    justify-content:space-around;
}
.titlesidenew1{
    position: relative;
    height: 100%;
    width: 60%;
    padding-bottom: 100%;
    text-align: right;
    display: inline-block;
    color: #fff;

}
.sidenew2{
    position: relative;
    background-color: rgb(89, 0, 255);
    display: flex;
    border: 10px solid rgb(89, 0, 255);
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
    flex-direction: row-reverse;
    justify-content:space-around;
}
#womenphoto{
    position: relative;
    display: inline-block;
}
.titlesidenew2{
    position: relative;
    height: 100%;
    width: 60%;
    padding-bottom: 100%;
    text-align: right;
    display: inline-block;
    color: #fff;

}
.sidenew3{
    position: relative;
    background-color: rgb(255, 0, 0);
    display: flex;
    border: 10px solid #ff0000;
    height: 100%;
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/2;
    flex-direction: row-reverse;
    justify-content:space-around;
}
#trainphoto{
    position: relative;
    display: inline-block;
}
.titlesidenew3{
    position: relative;
    height: 100%;
    width: 60%;
    padding-bottom: 100%;
    text-align: right;
    display: inline-block;
    color: #fff;

}
.sidenew4{
    position: relative;
    background-color: rgb(89, 0, 255);
    display: flex;
    border: 10px solid rgb(89, 0, 255);
    height: 85%;
    width: 100%;
    grid-row: 4/5;
    grid-column: 1/2;
    flex-direction: row-reverse;
    justify-content:space-around;
}
#runphoto{
    position: relative;
    display: inline-block;
}
.titlesidenew4{
    position: relative;
    height: 100%;
    width: 60%;
    padding-bottom: 100%;
    text-align: right;
    display: inline-block;
    color: #fff;

}
.news_and{
    font-family: "Narkiss Block Regular";   
    position: relative;
   display: grid;
   grid-template-columns: 50% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
   grid-gap:5px ;
   top: 10vh;
    height: 90vh;
    width: 90%;
    left: 5%;

}
.sidenewall{
    
display: inline-block;
position: relative;
 height: 30vh;
 width: 100vw;
 top: 10vh;
 grid-row: 1/4;
 grid-column: 1/6;
}
