body{
    margin: 0;
}
    nav {
        position: sticky;
        font-family: 'NarkisBlock';
        height: 28px;
        width: 1240px;
        background-color: red;
        margin-top: 3%;
        margin-right: auto;
        margin-left: auto;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        }
        a {
            font-family: 'NarkisBlock';
            text-decoration: none;
            color: #ffffff;
            font-size: bold;
        }
        a:hover {
            transform: scale(1.1);
            font-weight: x bold;
        }
        .massege{
            position: absolute;
            display: inline;
            margin-left: 19px;
            width: 97%;
            height: 20vh;
            background-color: rgb(219, 219, 219);
        }
        .massege1{
            color: #000;
            display: inline-block;
            position: relative;
            height: 100%;
            width: 25%;
            text-align: right;
            border-right-style: dotted;
        }
        .massege2{
            color: #000;
            display: inline-block;
            position: relative;
            height: 100%;
            width: 18%;
            text-align: right;
            border-right-style: dotted;
        }
        .massege3{
            position: relative;
            display: inline-block;
            height: 100%;
            width: 18%;
            text-align: right;
            border-right-style: dotted; 
        }
        .massege4{
            position: relative;
            display: inline-block;
            height: 100%;
            width: 18%;
            text-align: right;
            border-right-style: solid ;
        }
        .massege5{
            position: relative;
            display: inline-block;
            height: 100%;
            width: 18%;
            text-align: right;

        }
